/*** Color Palette ***/
/*{*/
/*#B38DEF*/
/*#342254*/
/*#996F9B*/
/*#25233C*/
/*#522541*/
/*#404F76*/
/*#FE58ED*/
/*#382A66*/
/*#083589*/
/*}*/

html {
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #B38DEF;
  padding: 0px;
  margin: 0px;
}

#content {
  min-height: 100%;
}

.key {
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #342254;
  font-size: 600px;
  font-weight: 600;
  transition: all .5s;
}

#key-press-any-key {
  font-size: 270px;
}

#key-enter {
  font-size: 270px;
}

#key-escape {
  font-size: 270px;
}

#key-delete {
  font-size: 270px;
}

#key-space {
  font-size: 270px;
}
