html {
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  background-color: #B38DEF;
  padding: 0px;
  margin: 0px;
}

#content {
  min-height: 100%;
}

.key {
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #342254;
  font-size: 600px;
  font-weight: 600;
}
